/* APP */

.app-page {
    min-height: 100vh;
    background: #080b10;
}

.app-header {
    min-height: 70px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #11161e;
    border-bottom: 1px solid #242c38;
}

.app-header div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.app-header strong {
    font-size: 22px;
}

.app-header span {
    color: #8f9baa;
    font-size: 14px;
}

.logout-button {
    padding: 10px 16px;

    border: 1px solid #303947;
    border-radius: 8px;

    background: #1a2029;
    color: white;

    cursor: pointer;
}

.logout-button:hover {
    background: #252d38;
}

.dashboard {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 25px;
}

.dashboard h2 {
    margin-bottom: 10px;
}

.dashboard p {
    color: #9ca7b5;
}
